.body{
    &-page{
        padding: 50px 0;
        display: flex;
        align-items: center;
    }
    &-image{
        height: auto;
        width: 20vw;
    }
    &-content{
        min-height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-title{
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 900;
        margin: 0 auto;
        font-size: 70px;
        letter-spacing: 1.71px;
    }
    &-subtitle{
        margin-top: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 26px;
        line-height: 18px;
        letter-spacing: 1.5px;
    }
}
.btn{
    &-container{
        padding: 50px 20px 30px 20px;
        width: 100%;
    }
    &-more{
        font-family: 'Poppins', sans-serif;
        background-color: #FFEB00;
        border: none;
        width: 18vw;
        height: 60px;
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
    }
}
@media (max-width: 600px){
    .body{
        &-content{
            flex-direction: column;
            
        }
        &-title{
            font-size: 60px;
            text-align: center;
            line-height: 60px;
        }
        &-subtitle{
            font-size: 24px;
            text-align: left;
            line-height: 20px;
            padding: 0 20px;
        }
    }
    .btn{
        &-more{
            width: 100%;
        }
    }
}