<div class="body-page">
    <div class="container">
        <div class="body-content">
            <h1 class="body-title">Liceo Purisima Concepción de María</h1>
            <div >
                <img class="body-image" src="assets/img/Virgen.jpg" alt="">
            </div>
        </div>
        <p class="body-subtitle">" De la mano de Jesús y María somos la promesa de un futuro mejor "</p>
        <div class="btn-container text-center">
            <button class="btn-more" routerLink="/about" routerLinkActive="active">
                Más de nosotros
            </button>
        </div>
    </div>
</div>