<div class="mision">
    <div class="mision-text">
        <p class="mision-title">Misión</p>
        <p class="mision-subtitle">
            El Liceo Infantil Purísima Concepción de María tiene la misión de formar
            humana, ética, cristiana e integralmente a sus estudiantes, desarrollando
            a través de procesos académicos, sus habilidades intelectuales y las
            potencialidades espirituales partiendo de sus experiencias individuales,
            en el marco de una clara concepción axiológica.

        </p>
    </div>
    <div class="mision-img">
        <img class="mision-img-size" src="assets/img/mision.jpg" alt="">
    </div>
</div>