<div class="data container">
    <p class="contactstyle">Contáctanos</p>
    <div>
        <div class="data-content">
            <p class="data-tittle">Correo electrónico:</p>
            <p class="data-subtittle">Correo@correo.com</p>
        </div>
        <div class="data-content">
            <p class="data-tittle">Teléfono:</p>
            <p class="data-subtittle">1302524545</p>
        </div>
        <div class="data-content">
            <p class="data-tittle">WhatsApp:</p>
            <p class="data-subtittle">89456835165</p>
        </div>
    </div>
</div>