<div class="data container">
    <p class="contactstyle">Contáctanos:</p>
    <div>
        <div class="data-content">
            <p class="data-tittle">Correo electrónico:</p>
            <p class="data-subtittle">colpurisima@yahoo.com</p>
        </div>
        <div class="data-content">
            <p class="data-tittle">Teléfono:</p>
            <p class="data-subtittle">310 787 0882</p>
        </div>
        <div class="data-content">
            <p class="data-tittle">WhatsApp:</p>
            <p class="data-subtittle">310 787 0882</p>
        </div>
    </div>
</div>