<div class="data container">
    <p class="contactstyle">Contáctanos:</p>
    <div>
        <div class="data-content">
            <img src="assets/img/email.png" class="data-title" alt="">
            <p class="data-subtittle">colpurisima@yahoo.com</p>
        </div>
        <div class="data-content">
            <img src="assets/img/call.png" class="data-title" alt="">
            <p class="data-subtittle">+57 310 787 0882</p>
        </div>
        <div class="data-content">
            <img src="assets/img/whatsapp.png" class="data-title" alt="">
            <p class="data-subtittle">+57 310 787 0882</p>
        </div>
    </div>
</div>