nav{
    background-color:#1461BA;
}
.navbar{
    &-logo{
        font-size: 46px;
        letter-spacing: 5px;
        color: #FFF;
        font-family: 'Merriweather Sans', sans-serif;
        text-transform: uppercase;
    }
    &-size{
        height: 18vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &-menu{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    &-item{
        list-style: none;
        margin: 10px;
        a{
            font-size: 15px;
            letter-spacing: 1px;
            direction: none;
            color: white;
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            &:hover{
                color: #FFEB00;
                text-decoration: none;
                cursor: pointer;
            }
        }
        a.active{
            padding-bottom: 2px;
            border-bottom: 2px solid #FFEB00;
        }
    }
}
@media (max-width: 600px){

    .navbar{
        &-logo{
            font-size: 30px;
        }

    }   
}