<nav class="navbar navbar-light">
    <div class="container navbar-size">
        <a href="#">
            <p class="navbar-logo">Fundacion Purisima Concepción de Maria</p>
        </a>  
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="navbar-item">
                <a >Servicios</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/about"routerLinkActive="active" >Sobre nosotros</a>
            </li>
        </ul>
    </div>
</nav>