<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <a href="#">
                <p class="footer-logo">Fundacion Purisima Concepción de Maria</p>
            </a>   
            <ul class="footer-menu">
                <li class="footer-item"><a href="">Home</a></li>
                <li class="footer-item"><a href="">Servicios</a></li>
                <li class="footer-item"><a href="">Sobre nosotros</a></li>
            </ul>
        </div>
        <p class="copyright">
            &copy; {{year}}
        </p>
    </div>
</footer>