.footer{
    background-color: #1461BA;
    &-content{
        height: 200px;
        padding: 40px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        margin: 0;
        font-size: 26px;
        line-height: 30px;
        width: 22vw;
        color: #FFF;
        font-family: 'Merriweather Sans', sans-serif;
        text-transform: uppercase;
        text-align: left;
    }
    &-menu{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    &-item{
        list-style: none;
        margin: 10px;
        a{
            font-size: 16px;
            letter-spacing: 1px;
            direction: none;
            color: white;
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            &:hover{
                color: #FFEB00;
                text-decoration: none;
            }
        }
    }
}
.copyright{
    text-align: center;
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
    padding: 30px;
    margin: 0;
}

@media (max-width: 600px) {
    .footer{
        &-content{
            flex-direction: column;
            height: auto;
        }
        &-logo{
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
        }
        &-menu{
            flex-direction: column;
            padding: 0;
        }
    }
    .copyright{
        text-align: center;
        padding: 20px 0px;
    }
}