<div class="vision">
    <div class="vision-img">
        <img class="vision-img-size" src="assets/img/vision.jpg" alt="">
    </div>
    <div class="vision-text">
        <p class="vision-title">Visión</p>
        <p class="vision-subtitle">
            El Liceo Infantil Purísima Concepción de María se proyecta como
            una institución líder en la educación preescolar, reconocida por 
            la calidad de innovativa y pertinencia de sus servicios educativos,
            por el compromiso y a parte de su comunidad académico al desarrollo
            humano y social que hacen de los educandos seres autónomos, singulares,
            trascendentes y en apertura.
 
        </p>
    </div>
</div>