<div class="academic">
    <div class="container">
        <div class="academic-content">
            <div class="academic-card-content">
                <div class="academic-card">
                    <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Oferta academica</p>
                        <p class="academic-card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                </div>
                <div class="academic-card">
                    <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Oferta academica</p>
                        <p class="academic-card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                </div>
            </div>
            <div class="academic-title-content" >
                <p class="academic-title">Nuestra oferta académica</p>
            </div>
        </div>
    </div>
</div>