<div class="academic">
    <div class="container">
        <div class="academic-content">
            <div class="academic-card-content">
                <div class="academic-card">
                    <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Educación de la primera infancia.</p>
                        <p class="academic-card-subtitle">Educación preescolar.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                </div>
                <div class="academic-card">
                    <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Cuidado de niños preescolar.</p>
                        <p class="academic-card-subtitle">Con horarios flexibles.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                </div>
            </div>
            <div class="academic-title-content" >
                <p class="academic-title">Nuestra oferta académica</p>
            </div>
        </div>
    </div>
</div>