<div class="academic">
    <div class="container">
        <div class="academic-content">
            <div class="academic-card-content">
                <div class="academic-card">
                    <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">¡Ofrecemos múltiples cursos y estudios!</p>
                        <p class="academic-card-subtitle"> 
                            Haciendo click en el siguiente botón, encontrarás a fondo los diferentes servicios que ofrecemos:</p>
                        <button class="academic-card-btn-more">
                            Oferta académica
                        </button>
                </div>
            </div>
            <div class="academic-title-content" >
                <p class="academic-title">Nuestra oferta académica</p>
            </div>
        </div>
    </div>
</div>