<div class="service">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="service-slide">
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Educación de la primera infancia.</p>
                        <p class="academic-card-subtitle">Educación preescolar.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Cuidado de niños preescolar.</p>
                        <p class="academic-card-subtitle">Con horarios flexibles.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Asesoría y recogida de niños.</p>
                        <p class="academic-card-subtitle">Servivio de asesoría de tareas y almuerzo. (En presencialidad).</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="service-slide">
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Asesorías pedagógicas.</p>
                        <p class="academic-card-subtitle">→ Lecto-escritura.</p>
                        <p class="academic-card-subtitle">→ Pre-escritura.</p>
                        <p class="academic-card-subtitle">→ Matemáticas, Álgebra, Trigonometría y Cálculo.</p>
                        <p class="academic-card-subtitle">→ Química.</p>
                        <p class="academic-card-subtitle">→ Inglés.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Oferta academica</p>
                        <p class="academic-card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Oferta academica</p>
                        <p class="academic-card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="service-slide">
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Oferta academica</p>
                        <p class="academic-card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Oferta academica</p>
                        <p class="academic-card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                    <div class="academic-card">
                        <img class="academic-card-img" src="\assets\img\Sombrero.png " alt="">
                        <p class="academic-card-title">Oferta academica</p>
                        <p class="academic-card-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button class="academic-card-btn-more">
                            Más de nosotros
                        </button>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>